:root {
    --black: #0e1015;
    --gark-grey-1: #13151b;
    --gark-grey-2: #202328;
    --gark-grey-3: #272a30;

    --accent: #ff0e4d;

    --white: #ffffff;
    --light-grey-1: #afb1b6;
    --light-grey-2: #6d7278;
    --light-grey-3: #3a3e46;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: var(--black);
    color: var(--light-grey-1);
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

a,
h1,
h2,
p {
    text-decoration: none;
    color: inherit;
    line-height: 1.5;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--light-grey-3);
}
td {
    border: 1px solid var(--light-grey-3);
}

/* Header */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 30px;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    padding-top: 60px;
}
.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    background-color: var(--accent);
    background-size: cover;
    background-position: center center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
    z-index: 0;
}
.header-container * {
    z-index: 1;
}

.header-container p {
    max-width: 400px;
    text-align: center;
}

/* Game cards */

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin-top: -20vh;
    z-index: 1;
}

.game-card h2,
.game-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-card {
    display: flex;
    gap: 20px;
    background: var(--gark-grey-1);
    border: 1px solid var(--gark-grey-2);
    border-radius: 10px;
    padding: 15px;
    transition: all 200ms ease-in;
}
.game-card:hover {
    background: var(--gark-grey-2);
    border: 1px solid var(--light-grey-3);
    transform: scale(1.02);
}

.game-card > img {
    align-self: center;
    max-height: 160px;
    border-radius: 5px;
}

.game-card > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.game-card > section .title h2 {
    color: var(--white);
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
}
.game-card > section .title span {
    color: var(--light-grey-2);
    font-size: 14px;
}

.game-card > section .separator {
    display: block;
    width: 50px;
    height: 1px;
    background: var(--gark-grey-3);
}

.game-card > section .tags * {
    font-size: 13px;
    padding: 3px 6px;
    border-radius: 3px;
    background: var(--gark-grey-3);
    color: var(--light-grey-1);
}
.game-card > section .tags .free-tag {
    background: var(--accent);
    color: var(--white);
    margin-right: 8px;
    font-weight: 600;
}

/* Game details */

.game-details {
    display: flex;
    position: relative;
    gap: 40px;
    background: var(--gark-grey-1);
    border: 1px solid var(--gark-grey-2);
    border-radius: 10px;
    padding: 40px;
    transition: all 200ms ease-in;
    font-size: 14px;
}
.game-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-size: cover;
    background-position: center center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
    filter: blur(60px);
    z-index: 0;
}
.game-details * {
    z-index: 1;
}
.game-details .section-1 {
    flex: 1;
    width: 100%;
    max-width: 360px;
    height: 1000px;
}

.game-details .section-1 .sticky {
    position: sticky;
    top: 40px;
}

.game-details .section-1 img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.game-details .section-1 a.game-url {
    display: block;
    color: var(--white);
    border-radius: 5px;
    text-align: right;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px 25px;
    background: var(--accent);
}
.game-details .section-1 a.game-url::after {
    content: "PLAY NOW FOR FREE ➜";
    display: block;
    transition: all 200ms ease-in;
}
.game-details .section-1 a.game-url:hover::after,
.game-details .section-1 a.back-to-home:hover::after {
    transform: translateX(8px);
}

.game-details .section-1 a.back-to-home {
    display: block;
    color: var(--white);
    border-radius: 5px;
    text-align: right;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px 25px;
    background: var(--light-grey-3);
}
.game-details .section-1 a.back-to-home::after {
    content: "BACK TO HOME ➜";
    display: block;
    transition: all 200ms ease-in;
}

.game-details .section-2 {
    flex: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.game-details .section-2 h1 {
    font-size: 32px;
    color: var(--white);
    font-weight: 500;
    line-height: 1;
}
.game-details .section-2 h2 {
    font-size: 18px;
    color: var(--light-grey-1);
    margin-bottom: 10px;
}
.game-details .section-2 .separator {
    width: 100%;
    height: 1px;
    margin: -8px 0;
    background: linear-gradient(to right, var(--light-grey-1), transparent 90%);
}
.game-details .section-2 .images {
    display: flex;
    gap: 30px;
}
.game-details .section-2 .images a {
    flex: 1;
}
.game-details .section-2 .images a img {
    width: 100%;
    border-radius: 5px;
}

.game-details .section-2 table {
    width: 100%;
}
.game-details .section-2 table tr td {
    font-size: 14px;
    padding: 10px 16px;
    text-wrap: balance;
}
.game-details .section-2 table tr td:first-child {
    color: var(--light-grey-2);
    width: 100px;
}

/* Footer */

footer {
    margin: 160px 0 50px 0;
    color: var(--light-grey-3);
}
